body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 176, 176);
    box-sizing: border-box;
}
div {
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgb(252, 189, 72);
}

.description-container,
.ingredients-container,
.steps-container {
    padding: 8px 0px;
}

h1,
h2 {
    text-align: center;
    margin: 0 auto;
}

h2 {
    text-decoration: underline;
}

p {
    padding-left: 8px;
}

ul,
ol {
    padding-left: 30px;
}

#recipes-images {
    width: 250px;
    height: 150px;
    padding: 8px 0;
    padding-left: 120px;
}

.button-container {
    background-color: rgb(247, 176, 176);
    display: block;
}

.bottom-left-button {
    margin-left: 250px;
}

.bottom-right-button {
    margin-left: 600px;   
}

.bottom-left-button,
.bottom-right-button {
    background-color: rgb(245, 119, 119);
    padding: 10px 30px 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.homepage-logo {
    width: 50px;
}

.title-container {
    background: white;
    color: black;
}

.recipes-container {
    padding: -100px;
    background-color: none;
    margin-top: 10px;
    border: none;  
}

.index,
.recipes-container,
.garlic-bread-container,
.lasagna-container,
.chocolate-cream-pie-container {
    border: none;
    background-color: rgb(247, 176, 176);;
}

.recipes-images {
    width: 300px;
    height: auto;
    margin-left: 65px;
    margin-bottom: 50px;
    border: 6px double black;
}

.recipe {
    color: brown;
}

li::marker {
    margin-left: 1000px;
}

.bread {
    height: 170px;
}